@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="list-group">
    @foreach(var guest in Model.Orders)
    {
        <div class="list-group-item">
            <p class="lead">
                Guest <b>@guest.Guest</b> with @guest.Orders.Count() orders
                <a asp-page="Detail" asp-route-guest="@guest.Guest" class="btn btn-secondary float-right">
                    Go to guest
                </a>
            </p>
            <partial name="_Orders" for="@guest.Orders">
        </div>
    }
</div>