@page
@model AuditLogModel
@{
    ViewData["Title"] = "Audit log";
}
<table class="table table-striped table-sm ">
    <thead>
        <tr>
            <th>On</th>
            <th>Event name</th>
            <th>Guest</th>
            <th>Payload</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Log)
        {
            <tr>
                <td>@item.On.ToString()</td>
                <td>@item.EventName</td>
                <td>@item.Guest</td>
                <td>
                    <pre class="pre-scrollable">
                        @item.Payload
                    </pre>
                </td>
            </tr>
        }
    </tbody>
    <caption>Audit trail</caption>
</table>
